:root {
    /*
        insert css variables, css rules for body (e.g. font-sizes, zero margin, ...) and other useful classes for components
    */
    --bg-color: #FFFAF1;
    --nbar-color: #DA0E5F;
    --dark-color: #400E2A;
    --light-color: #FFABC5;
    --lighter-color: #FFE4EB;
    --hover-color: #C30753;

    --font-size: 16px;
    --content-width: min(90%, 1200px);
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: Comme, serif;
    scroll-behavior: smooth;
    min-width: 250px;
    min-height: 600px;
}

* {
    box-sizing: border-box;
}

.clickable-activity{
    border: 2px solid var(--nbar-color);
    border-radius: 20px;
}

.activity-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

@media (width >=1000px) {
    body {
        overflow: auto !important;
    }
}

@media (width < 1000px) {
    body {
        font-size: 14px;
    }
}