:root {
    /*
        insert css variables, css rules for body (e.g. font-sizes, zero margin, ...) and other useful classes for components
    */
    --gradient-color: linear-gradient(30deg, #DA0E5F, #a4246d);
    --gradient-card-color: linear-gradient(60deg, rgba(255, 233, 233, 0.9), rgba(252, 173, 187, 0.8));
    --bg-color: #FFFFFF;
    --magenta-color: #DA0E5F;
    --dark-violet-color: #400E2A;
    --box-pink-color: #FFABC5;
    --box-light-pink-color: #FFE4EB;
    --box-light-yellow-color: #FFFAF1;
    --hover-color: #C30753;
    --orientational-info-color: #651543;
    --par-color: #36454F;
    --border-color: #DDDDDD;


    --font-size: 16px;
    --content-width: min(90%, 1200px);
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: Comme, serif;
    scroll-behavior: smooth;
    min-width: 250px;
    min-height: 600px;
    color: var(--dark-violet-color);
}

* {
    box-sizing: border-box;
}

.activity-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.activity-orientational-info{
    color: var(--orientational-info-color);
}

.card-list-wrapper {
    display: flex;
    justify-content: center;
}

.card-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.card-list div {
    margin: 0 auto;
}

.clickable-card
{
    box-shadow: 0.1rem 0.2rem 0.5rem #CCCCCC;
    border-radius: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding: 0.7rem;
    width: 17rem;
    text-decoration: none;
    color: var(--dark-violet-color);
    background: var(--gradient-card-color);
}

.clickable-card:hover {
    box-shadow: 0.1rem 0.5rem 1.3rem #888888;
    transition: 0.3s ease-in all;
}

main {
    margin-left: min(15%,15em);
    margin-right: min(15%,15em);
}

.carousel-inner {
    padding: 2rem 4rem;
}

.carousel-colored-container{
    border-radius: 1rem;
    background-color: var(--box-light-pink-color);
}

.carousel-control-prev{
    border-radius: 1rem 0 0 1rem;
    background-color: var(--magenta-color);
}

.carousel-control-next{
    border-radius: 0 1rem 1rem 0;
    background-color: var(--magenta-color);
}

.p-alt {
    color: var(--par-color);
    line-height: 1.65rem;
}

.person-card{
    background-image: linear-gradient(to bottom, #ffbfcd, #ffccdd, #fed9ea, #fee6f5, #fff2fd);
}

@media(max-width: 760px) {

    .carousel-control-prev, .carousel-control-next {
        width: 2rem;
    }

    .carousel-inner{
        padding: 2rem 2.25rem;
    }
}

@media (width >= 1000px) {
    body {
        overflow: auto !important;
    }
}

@media (width < 1000px) {
    body {
        font-size: 14px;
    }

    main {
        margin-left: min(10%,10em);
        margin-right: min(10%,10em);
        text-align: center;
    }
}