:root {
    /*
        insert css variables, css rules for body (e.g. font-sizes, zero margin, ...) and other useful classes for components
    */
    /*--bg-color: #FFFAF1;*/
    --bg-color: #FFFFFF;
    --nbar-color: #DA0E5F;
    --dark-color: #400E2A;
    --light-color: #FFABC5;
    --lighter-color: #FFE4EB;
    --hover-color: #C30753;
    --orientational-info-color: #651543;
    --par-color: #36454F;

    --font-size: 16px;
    --content-width: min(90%, 1200px);
}

html {
    font-size: var(--font-size);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: Comme, serif;
    scroll-behavior: smooth;
    min-width: 250px;
    min-height: 600px;
    color: #400E2A;
}

* {
    box-sizing: border-box;
}

.orientational-info {
    font-size: 1.75rem;
    color: var(--orientational-info-color);
    margin: 0.75rem auto;
}

.card-list {
    display: grid;
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}

.card-list div {
    margin: 0 auto;
}

.clickable-card
{
    /*box-shadow: 0.1rem 0.2rem 0.5rem #888888;*/
    box-shadow: 0.1rem 0.2rem 0.5rem #CCCCCC;
    border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    padding: 20px;
    width: 275px;
    text-decoration: none;
    color: black;
    /*background-color: #FFFAF1;*/
    background-color: #FFE4EB;
}

.clickable-card:hover {
    box-shadow: 0.1rem 0.5rem 1.3rem #888888;
    transition: 0.3s ease-in all;
}

.page-content {
    /*width: var(--content-width);*/
    margin-left: min(15%,15em);
    margin-right: min(15%,15em);
}

.page-title-container {
    width: min(900px, 100%);
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.page-title {
    font-size: 2rem;
    color: var(--dark-color);
}

.list-container {
    margin: 3.5rem auto;
}

@media (width >=1000px) {
    body {
        overflow: auto !important;
    }
}

@media (width < 1000px) {
    body {
        font-size: 14px;
    }
}